jupyterlab
jupyterlab-system-monitor
jupyterlab-git

wget
pandas
openpyxl
xlsxwriter

matplotlib
seaborn

scikit-learn

dask

ipywidgets

msda
pyarrow

shap
numpy==1.20.3
datetime
keras
scipy

tqdm

pymongo
nltk
tensorflow_text
tensorflow
sentence_transformers